---
layout: default
---

<ul>
    {% for post in paginator.posts %}
    <li class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">
                {{ post.title }}
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
            <div class="post-content-preview">
                {{ post.content | strip_html | truncate:200 }}
            </div>
        </a>
    </li>
    {% endfor %}
</ul>